<center>
	<h1>Ruby on Rails</h1>
	<p>Assignment</p>

	<% if current_user %>
		</br>
		<p>You are logged in</p>
	<% else %>
		</br>
		<p>If you are new then please <%= link_to 'REGISTER', new_user_registration_path %>  yourself & use it.</p>
		<p>If you are existing user then please <%= link_to 'LOGIN', new_user_session_path %> with your email & password.</p>
		<p>Thank you for visiting us!</p>
	<% end %>
</center>