<h1>User Listing</h1>

<div class="flickr_pagination">
	<%= paginate @users, remote: false %>
</div>

<%= render 'user' %>

<div class="flickr_pagination">
	<%= paginate @users, remote: false %>
</div>