<h1>Candidate Listing</h1>

<div class="flickr_pagination">
	<%= paginate @candid, remote: false %>
	
</div>

<%= render 'candidate' %>

<div class="flickr_pagination">
	<%= paginate @candid, remote: false %>
</div>